# **Stock market news feed semantic analysis** *(Baseline dataset merge)*

In [11]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [54]:
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.linear_model import LogisticRegression
import numpy as np
import pandas as pd
import pandas_datareader as web
import string
import nltk
nltk.download('stopwords')
from nltk.corpus import stopwords
nltk.download('punkt')
from nltk.tokenize import word_tokenize  
from sklearn.utils import shuffle
from sklearn.metrics import accuracy_score

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [13]:
# Random seed
RANDOM_SEED = 1234

# Numpy random seed
NP_SEED = 1234

# Max iteration for training
MAX_ITER = 100000

# Train size
TRAIN_SPLIT = 0.85

# Test size
TEST_SPLIT = 0.15

# Shuffle cycle number for the dataframe
SHUFFLE_CYCLE = 500

In [14]:
np.random.seed(NP_SEED)

## **Adathalmazok betöltése és előkészítése**

A Reddites, egyesével, preprocessel.

In [15]:
# Copy the dataset to the local environment
!cp "/content/drive/MyDrive/Combined_News_DJIA.csv" "Combined_News_DJIA.csv"

ROWS = 1

# Load the dataset 
df_combined = pd.read_csv('Combined_News_DJIA.csv', index_col = "Date")

# Load the stock data
df_stock = web.DataReader("DJIA", data_source="yahoo", start="2008-08-08", end="2016-07-01")

# Date convert
temp_day = []

for day in range(len(df_stock)):
    temp_day.append(str(df_stock.index[day].date()))

df_stock.index = temp_day

# Labels check
difference = []

if len(df_combined) == len(df_stock):
    print("The lengths are the same!")

for day in range(max(len(df_combined), len(df_stock))):
    if str(df_combined.index[day]) != str(df_stock.index[day]):
        print("There is difference at: " + str(day) + " index")
        print("News: " + str(df_combined.index[day]) + "\tStock: " + str(df_stock.index[day]))
        difference.append(day)

if len(difference) is 0:
    print("The dates matched!")

difference = []

for day in range(len(df_stock)):
    # label should be 1 -> rise
    if int(df_stock["Adj Close"][day]) >= int(df_stock["Adj Close"][day - 1]):
        if df_combined["Label"][day] != 1:
            difference.append(str(df_stock.index[day]))
            print("Problem at day " + str(df_stock.index[day]))
            print("Today: " + str(df_stock["Adj Close"][day]) +"\t\tYesterday: " + str(df_stock["Adj Close"][day - 1]) + "\t\tLabel: " + str(df_combined["Label"][day]) + "\n")

    # label should be 0 -> fall
    if int(df_stock["Adj Close"][day]) < int(df_stock["Adj Close"][day - 1]):
        if df_combined["Label"][day] != 0:
            difference.append(str(df_stock.index[day]))
            print("Problem at day " + str(df_stock.index[day]))
            print("Today: " + str(df_stock["Adj Close"][day]) +"\t\tYesterday: " + str(df_stock["Adj Close"][day - 1]) + "\t\tLabel: " + str(df_combined["Label"][day]) + "\n")

print("All differences: " + str(len(difference)))   

# correct the wrong labels
for row in difference:
    if df_combined.loc[row, "Label"] == 0:
        df_combined.loc[row, "Label"] = 1
    else:
        df_combined.loc[row, "Label"] = 0

# check them
for row in difference:
    print(str(row) + "\t\t" + str(df_combined.loc[row, "Label"]))  

# Find the cells with NaN and after the rows for them
is_NaN = df_combined.isnull()
row_has_NaN = is_NaN.any(axis = 1)
rows_with_NaN = df_combined[row_has_NaN]

# Replace them
df_combined = df_combined.replace(np.nan, " ")

# Check the process
is_NaN = df_combined.isnull()
row_has_NaN = is_NaN.any(axis = 1)
rows_with_NaN = df_combined[row_has_NaN]

assert len(rows_with_NaN) is 0 

# Get column names
combined_column_names = []
for column in df_combined.columns:
  combined_column_names.append(column)

# 2D array creation for the news based on macros
COLUMNS = len(df_combined)
news_sum = [[0 for i in range(COLUMNS)] for j in range(int((len(combined_column_names) - 1) / ROWS))]  

# Merge the news
for row in range(len(df_combined)):
  for column in range(int((len(combined_column_names) - 1) / ROWS)):
    temp = ""
    news = ""
    for word in range(ROWS):
      news = df_combined[combined_column_names[(column * ROWS) + (word + 1)]][row]
      # Remove the b character at the begining of the string
      if news[0] is "b":
        news = " " + news[1:]
      temp = temp + " " + news
    news_sum[column][row] = temp

# Drop the old columns
for column in range(len(combined_column_names) - 1):
  df_combined.drop(combined_column_names[column + 1], axis = 1, inplace = True)

# Create the new columns with the merged news
for column in range(int((len(combined_column_names) - 1) / ROWS)):
  colum_name = "News_" + str(column + 1)
  df_combined[colum_name] = news_sum[column]

# The label column 
LABEL_COLUMN = 0

news_sum = []
label_sum = []

# Get the column names
combined_column_names = []
for column in df_combined.columns:
  combined_column_names.append(column)

# Write out the column names 
print(combined_column_names)
print("\n")

# Connect the merged news with the labels
for column in range(len(df_combined)):
  for row in range(len(combined_column_names) - 1):
    news_sum.append(df_combined[combined_column_names[row + 1]][column])
    label_sum.append(df_combined[combined_column_names[LABEL_COLUMN]][column])

# Create the new DataFrame
df_sum_news_labels = pd.DataFrame(data = label_sum, index = None, columns = ["Label"])
df_sum_news_labels["News"] = news_sum

# Removing punctuations
temp_news = []
for line in news_sum:
  temp_attach = ""
  for word in line:
    temp = " "
    if word not in string.punctuation:
      temp = word
    temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

news_sum = temp_news
temp_news = []

# Remove numbers
for line in news_sum:
  temp_attach = ""
  for word in line:
    temp = " "
    if not word.isdigit():
      temp = word
    temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

# Remove space
for line in range(len(temp_news)):    
  temp_news[line] = " ".join(temp_news[line].split())

# Converting headlines to lower case
for line in range(len(temp_news)): 
    temp_news[line] = temp_news[line].lower()

# Update the data frame
df_sum_news_labels["News"] = temp_news

# Load the stop words
stop_words = set(stopwords.words('english'))

filtered_sentence = []
news_sum = df_sum_news_labels["News"]

# Remove stop words
for line in news_sum:
  word_tokens = word_tokenize(line)
  temp_attach = ""
  for word in word_tokens:
    temp = " "
    if not word in stop_words:
      temp = temp + word
    temp_attach = temp_attach + "".join(temp)
  filtered_sentence.append(temp_attach)

# Remove space
for line in range(len(filtered_sentence)):    
  filtered_sentence[line] = " ".join(filtered_sentence[line].split())

# Update the data frame
df_sum_news_labels["News"] = filtered_sentence

news_sum = df_sum_news_labels["News"]
null_indexes = []
index = 0

for line in news_sum:
  if line is "":
    null_indexes.append(index)
  index = index + 1

print(null_indexes)

for row in null_indexes:
  df_sum_news_labels = df_sum_news_labels.drop(row)

news_sum = df_sum_news_labels["News"]
null_indexes = []
index = 0

for line in news_sum:
  if line is "":
    null_indexes.append(index)
  index = index + 1
  
assert len(null_indexes) is 0

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  df_sum_news_labels = shuffle(df_sum_news_labels, random_state = RANDOM_SEED)

# Reset the index
df_sum_news_labels.reset_index(inplace=True, drop=True)

INPUT_SIZE = len(df_sum_news_labels)
TRAIN_SIZE = int(TRAIN_SPLIT * INPUT_SIZE) 
TEST_SIZE = int(TEST_SPLIT * INPUT_SIZE)

# Split the dataset
train = df_sum_news_labels[:TRAIN_SIZE] 
test = df_sum_news_labels[TRAIN_SIZE:]

# Print out the length
print("Train data set length: " + str(len(train)))
print("Test data set length: " + str(len(test)))
print("Split summa: " + str(len(train) + len(test)))
print("Dataset summa before split: " + str(len(df_sum_news_labels)))

# check
split_sum = len(train) + len(test)
sum = len(df_sum_news_labels)
assert split_sum == sum

The lengths are the same!
The dates matched!
Problem at day 2010-10-14
Today: 11096.919921875		Yesterday: 11096.080078125		Label: 0

Problem at day 2012-11-12
Today: 12815.080078125		Yesterday: 12815.3896484375		Label: 0

Problem at day 2012-11-15
Today: 12570.9501953125		Yesterday: 12570.9501953125		Label: 0

Problem at day 2013-04-12
Today: 14865.0595703125		Yesterday: 14865.1396484375		Label: 0

Problem at day 2014-04-24
Today: 16501.650390625		Yesterday: 16501.650390625		Label: 0

Problem at day 2015-08-12
Today: 17402.509765625		Yesterday: 17402.83984375		Label: 0

Problem at day 2015-11-27
Today: 17813.390625		Yesterday: 17813.390625		Label: 0

All differences: 7
2010-10-14		1
2012-11-12		1
2012-11-15		1
2013-04-12		1
2014-04-24		1
2015-08-12		1
2015-11-27		1
['Label', 'News_1', 'News_2', 'News_3', 'News_4', 'News_5', 'News_6', 'News_7', 'News_8', 'News_9', 'News_10', 'News_11', 'News_12', 'News_13', 'News_14', 'News_15', 'News_16', 'News_17', 'News_18', 'News_19', 'News_20', 'News_21', 'News_22', 'News_23', 'News_24', 'News_25']


[6947, 6948, 6949, 8723, 8724, 13134, 17048, 17049]
Train data set length: 42259
Test data set length: 7458
Split summa: 49717
Dataset summa before split: 49717

In [16]:
train

       Label                                               News
0          1                     talk like stupid sharia law uk
1          0              afghan woman killed giving birth girl
2          1  isis suspect turkish intelligence agency mt he...
3          1  american citizen living ossetia blames u georg...
4          1  anyone using google maps smartphone working su...
...      ...                                                ...
42254      1  false flag one men arrested illegally buying m...
42255      1  least dead cairo peaceful christian protest at...
42256      0  dna profiles innocent kept years despite europ...
42257      0                      afghanistan march big picture
42258      0  german archaeological conservationists pushing...

[42259 rows x 2 columns]

In [17]:
test

       Label                                               News
42259      0  daily kos tunisians thank anonymous north afri...
42260      0                              china blocks guardian
42261      1  tiny island nation controls vast area pacific ...
42262      1  greek austerity moves leave nation economic sa...
42263      0  spanish prostitutes ordered wear reflective ve...
...      ...                                                ...
49712      0  forget prism global cyberchiefs meeting israel...
49713      1  bahrain expels u teacher inciting hatred royal...
49714      1      israel warns brazil accept settler ambassador
49715      1                                   oktoberfest pics
49716      0                      japans prime minister resigns

[7458 rows x 2 columns]

Az ECO datasetekkel bővítem a train adathalmazt.

In [18]:
# Copy the dataset to the local environment
!cp "/content/drive/MyDrive/Economist/ECO_BSN_DF.csv" "ECO_BSN_DF.csv"
!cp "/content/drive/MyDrive/Economist/ECO_FNC_DF.csv" "ECO_FNC_DF.csv"
!cp "/content/drive/MyDrive/Economist/ECO_US_DF.csv" "ECO_US_DF.csv"

# Load the datasets 
df_bsn = pd.read_csv('ECO_BSN_DF.csv', index_col = "date")
df_fnc = pd.read_csv('ECO_FNC_DF.csv', index_col = "date")
df_us = pd.read_csv('ECO_US_DF.csv', index_col = "date")

# Load the stock data
df_stock = web.DataReader("DJIA", data_source="yahoo", start="2008-08-08", end="2016-07-01")

# Sort
df_bsn_inspect = df_bsn[df_bsn.index < '2016/07/02']
df_bsn_inspect = df_bsn_inspect[df_bsn_inspect.index > '2008/08/07']
df_bsn_inspect = df_bsn_inspect.drop_duplicates()

df_fnc_inspect = df_fnc[df_fnc.index < '2016/07/02']
df_fnc_inspect = df_fnc_inspect[df_fnc_inspect.index > '2008/08/07']
df_fnc_inspect = df_fnc_inspect.drop_duplicates()

df_us_inspect = df_us[df_us.index < '2016/07/02']
df_us_inspect = df_us_inspect[df_us_inspect.index > '2008/08/07']
df_us_inspect = df_us_inspect.drop_duplicates()

# Merge
df_eco_all = pd.concat([df_bsn_inspect, df_fnc_inspect, df_us_inspect])

df_eco_all = df_eco_all.drop_duplicates()

df_eco_all.sort_index(ascending=True, inplace=True)

days = []
stock_days = []
wrong_days = []

# Create dates and remove duplicates
for day in range(len(df_eco_all.index)):
    if day == 0:
        days.append(str(df_eco_all.index[day]))
    elif df_eco_all.index[day] != days[len(days) - 1]:
        days.append(str(df_eco_all.index[day]))

# Drop not needed days
for day in range(len(df_stock.index)):
    stock_days.append(str(df_stock.index[day])[0:10].replace("-","/"))

# Remove not relevant date
good_days = []
for day in days:
    try:
        if stock_days.index(day):
            good_days.append(str(day))
    except:
        wrong_days.append(str(day))

label_eco = []
date_label_eco =[]
title_label_eco = []

for day in range(len(good_days)):
    if day == 0:
        title_label_eco.append(df_eco_all["title"][good_days[day]])
        label_eco.append(0)
        date_label_eco.append(good_days[day])      
    # label should be 1 -> rise
    elif int(df_stock["Adj Close"][stock_days.index(good_days[day])]) >= int(df_stock["Adj Close"][stock_days.index(good_days[day]) - 1]):   
        if isinstance(df_eco_all["title"][good_days[day]], str) is False:
            for row in df_eco_all["title"][good_days[day]]:
                title_label_eco.append(row)
                label_eco.append(1)
                date_label_eco.append(good_days[day])
        else:
                title_label_eco.append(df_eco_all["title"][good_days[day]])
                label_eco.append(1)
                date_label_eco.append(good_days[day])

    # label should be 0 -> fall
    elif int(df_stock["Adj Close"][stock_days.index(good_days[day])]) < int(df_stock["Adj Close"][stock_days.index(good_days[day]) - 1]):   
        if isinstance(df_eco_all["title"][good_days[day]], str) is False:
            for row in df_eco_all["title"][good_days[day]]:
                title_label_eco.append(row)
                label_eco.append(0)
                date_label_eco.append(good_days[day])
        else:
                title_label_eco.append(df_eco_all["title"][good_days[day]])
                label_eco.append(0)
                date_label_eco.append(good_days[day])

# Create dataset
df_eco = pd.DataFrame()
df_eco["date"] = date_label_eco
df_eco["label"] = label_eco
df_eco["title"] = title_label_eco
df_eco.set_index("date", inplace=True)
df_eco.sort_index(ascending=True, inplace=True)
print(df_eco.head())
print(len(df_eco))

# drop duplicates
df_eco.drop_duplicates(subset="title", inplace=True)

# Removing punctuations
temp_news = []
news_sum = df_eco["title"]

for line in news_sum:
  temp_attach = ""
  try:
      for word in line:
        temp = " "
        if word not in string.punctuation:
          temp = word
        temp_attach = temp_attach + "".join(temp)
  except:
      temp = " "
      temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

news_sum = temp_news
temp_news = []

# Remove numbers
for line in news_sum:
  temp_attach = ""
  for word in line:
    temp = " "
    if not word.isdigit():
      temp = word
    temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

# Remove space
for line in range(len(temp_news)):    
  temp_news[line] = " ".join(temp_news[line].split())

# Converting headlines to lower case
for line in range(len(temp_news)): 
    temp_news[line] = temp_news[line].lower()

# Update the data frame
df_eco["title"] = temp_news

# Load the stop words
stop_words = set(stopwords.words('english'))

filtered_sentence = []
news_sum = df_eco["title"]

# Remove stop words
for line in news_sum:
  word_tokens = word_tokenize(line)
  temp_attach = ""
  for word in word_tokens:
    temp = " "
    if not word in stop_words:
      temp = temp + word
    temp_attach = temp_attach + "".join(temp)
  filtered_sentence.append(temp_attach)

# Remove space
for line in range(len(filtered_sentence)):    
  filtered_sentence[line] = " ".join(filtered_sentence[line].split())

# Update the data frame
df_eco["title"] = filtered_sentence

# Reset the index
df_eco.reset_index(inplace=True)

news_sum = df_eco["title"]
null_indexes = []
index = 0

for line in news_sum:
  if line is "":
    null_indexes.append(index)
  index = index + 1

print(null_indexes)

for row in range(len(null_indexes)):
  df_eco = df_eco.drop(df_eco.index[null_indexes[row] - row])

news_sum = df_eco["title"]
null_indexes = []
index = 0

for line in news_sum:
  if line is "":
    null_indexes.append(index)
  index = index + 1
  
assert len(null_indexes) is 0

# Drop the dates
df_eco_label_title = pd.DataFrame()
df_eco_label_title["label"] = df_eco["label"]
df_eco_label_title["title"] = df_eco["title"]
print("New dataset without the dates")
print(df_eco_label_title.head())
print(len(df_eco_label_title))

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  df_eco_label_title = shuffle(df_eco_label_title, random_state = RANDOM_SEED)

# Reset the index
df_eco_label_title.reset_index(inplace=True, drop=True)

            label                          title
date
2008/08/12      0  Come fly the fee-filled skies
2008/08/14      1              Kicked in the ARS
2008/08/14      1          The next Billy Graham
2008/08/14      1     Another inconvenient truth
2008/08/14      1                 Phantom menace
5069
[79, 188, 722, 1417, 1983, 2716, 3105, 3214, 3855, 4094, 4335, 4950]
New dataset without the dates
   label                       title
0      0   come fly fee filled skies
1      1                  kicked ars
2      1           next billy graham
3      1  another inconvenient truth
4      1              phantom menace
5057

In [19]:
df_eco = pd.DataFrame()
df_eco["Label"] = df_eco_label_title["label"]
df_eco["News"] = df_eco_label_title["title"]
df_eco

      Label                          News
0         0                   close power
1         0                 russian bears
2         1                    money shot
3         1                 stuck neutral
4         1  one listens jürgen grossmann
...     ...                           ...
5052      1                called account
5053      0                 revving bases
5054      0                      unsolved
5055      1                   china price
5056      0       reflections projections

[5057 rows x 2 columns]

In [20]:
train_eco = pd.concat([train, df_eco])
train_eco

      Label                                               News
0         1                     talk like stupid sharia law uk
1         0              afghan woman killed giving birth girl
2         1  isis suspect turkish intelligence agency mt he...
3         1  american citizen living ossetia blames u georg...
4         1  anyone using google maps smartphone working su...
...     ...                                                ...
5052      1                                     called account
5053      0                                      revving bases
5054      0                                           unsolved
5055      1                                        china price
5056      0                            reflections projections

[47316 rows x 2 columns]

A Benzingés data halmazzal bővítés.

In [24]:
# Copy the dataset to the local environment
!cp "/content/drive/MyDrive/Kaggle dataset/Benzinga news with ticker/KAG_BENZ_ANALYST_DF_1.csv" "KAG_BENZ_ANALYST_DF_1.csv"
!cp "/content/drive/MyDrive/Kaggle dataset/Benzinga news with ticker/KAG_BENZ_ANALYST_DF_2.csv" "KAG_BENZ_ANALYST_DF_2.csv"
!cp "/content/drive/MyDrive/Kaggle dataset/Benzinga news with ticker/KAG_BENZ_PARTNER_DF_1.csv" "KAG_BENZ_PARTNER_DF_1.csv"
!cp "/content/drive/MyDrive/Kaggle dataset/Benzinga news with ticker/KAG_BENZ_PARTNER_DF_2.csv" "KAG_BENZ_PARTNER_DF_2.csv"

# Load the datasets 
df_benz_1 = pd.read_csv('KAG_BENZ_ANALYST_DF_1.csv', index_col = "date")
df_benz_2 = pd.read_csv('KAG_BENZ_ANALYST_DF_2.csv', index_col = "date")    
df_partner_1 = pd.read_csv('KAG_BENZ_PARTNER_DF_1.csv', index_col = "date")
df_partner_2 = pd.read_csv('KAG_BENZ_PARTNER_DF_2.csv', index_col = "date")

# Load the stock data
df_stock = web.DataReader("DJIA", data_source="yahoo", start="2008-08-08", 
                          end="2016-07-01")

# Merge them
df_benz = pd.concat([df_benz_1, df_benz_2])
df_partner = pd.concat([df_partner_1, df_partner_2])

df_benz_inspect = df_benz[df_benz.index < '2016/07/02']
df_benz_inspect = df_benz_inspect[df_benz_inspect.index > '2008/08/07']
df_benz_inspect = df_benz_inspect.drop_duplicates()

df_partner_inspect = df_partner[df_partner.index < '2016/07/02']
df_partner_inspect = df_partner_inspect[df_partner_inspect.index > '2008/08/07']
df_partner_inspect = df_partner_inspect.drop_duplicates()

df_benz = pd.concat([df_benz_inspect, df_partner_inspect])

tickers = []
unique_count = []

# The stock tickers which is needed
stock_ticker = ["PG", "MMM", "IBM", "MRK", "AXP", "MCD", "BA", "KO", "CAT", "JPM",
                "DIS", "JNJ", "WMT", "HD", "INTC", "MSFT", "VZ", "CVX", "CSCO",
                "TRV", "UNH", "GS", "NKE", "V"]

df_benz_filtered = pd.DataFrame()

for stock in stock_ticker:
    df_temp = df_benz[(df_benz["stock"]) == stock].drop_duplicates()
    df_benz_filtered = pd.concat([df_benz_filtered, df_temp])

df_benz_filtered.sort_index(ascending=True, inplace=True)

df_benz = df_benz_filtered
df_benz.drop("stock", axis = 1, inplace = True)
df_benz.drop_duplicates(inplace=True)

# Removing punctuations
temp_news = []
news_sum = df_benz["headline"]

for line in news_sum:
  temp_attach = ""
  for word in line:
    temp = " "
    if word not in string.punctuation:
      temp = word
    temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

news_sum = temp_news
temp_news = []

# Remove numbers
for line in news_sum:
  temp_attach = ""
  for word in line:
    temp = " "
    if not word.isdigit():
      temp = word
    temp_attach = temp_attach + "".join(temp)
  temp_news.append(temp_attach)

# Remove space
for line in range(len(temp_news)):    
  temp_news[line] = " ".join(temp_news[line].split())

# Converting headlines to lower case
for line in range(len(temp_news)): 
    temp_news[line] = temp_news[line].lower()

# Update the data frame
df_benz["headline"] = temp_news

# Load the stop words
stop_words = set(stopwords.words('english'))

filtered_sentence = []
news_sum = df_benz["headline"]

# Remove stop words
for line in news_sum:
  word_tokens = word_tokenize(line)
  temp_attach = ""
  for word in word_tokens:
    temp = " "
    if not word in stop_words:
      temp = temp + word
    temp_attach = temp_attach + "".join(temp)
  filtered_sentence.append(temp_attach)

# Remove space
for line in range(len(filtered_sentence)):    
  filtered_sentence[line] = " ".join(filtered_sentence[line].split())

# Update the data frame
df_benz["headline"] = filtered_sentence

days = []
stock_days = []
wrong_days = []

# Create dates and remove duplicates
for day in range(len(df_benz.index)):
    temp = str(df_benz.index[day])[0:10].replace("-","/")
    if day == 0:
        days.append(temp)
    elif df_benz.index[day] != df_benz.index[day - 1]:
        days.append(temp)

# Update the dataframe date column
df_benz.reset_index(inplace=True)
temp_days = df_benz["date"]
days_to_update = []
for date in range(len(temp_days)):
    temp = str(temp_days[date])[0:10].replace("-","/")
    days_to_update.append(temp)

df_benz["date"] = days_to_update
df_benz.set_index("date", inplace=True, drop=True)    

# Drop not needed days
for day in range(len(df_stock.index)):
    stock_days.append(str(df_stock.index[day])[0:10].replace("-","/"))

# Remove not relevant date
good_days = []
for day in days:
    try:
        if stock_days.index(day):
            good_days.append(str(day))
    except:
        wrong_days.append(str(day))

label_benz = []
date_label_benz =[]
title_label_benz = []

for day in range(len(good_days)):
    if day == 0:
        title_label_benz.append(df_benz["headline"][good_days[day]])
        label_benz.append(0)
        date_label_benz.append(good_days[day])      
    # label should be 1 -> rise
    elif int(df_stock["Adj Close"][stock_days.index(good_days[day])]) >= int(df_stock["Adj Close"][stock_days.index(good_days[day]) - 1]):   
        if isinstance(df_benz["headline"][good_days[day]], str) is False:
            for row in df_benz["headline"][good_days[day]]:
                title_label_benz.append(row)
                label_benz.append(1)
                date_label_benz.append(good_days[day])
        else:
                title_label_benz.append(df_benz["headline"][good_days[day]])
                label_benz.append(1)
                date_label_benz.append(good_days[day])

    # label should be 0 -> fall
    elif int(df_stock["Adj Close"][stock_days.index(good_days[day])]) < int(df_stock["Adj Close"][stock_days.index(good_days[day]) - 1]):   
        if isinstance(df_benz["headline"][good_days[day]], str) is False:
            for row in df_benz["headline"][good_days[day]]:
                title_label_benz.append(row)
                label_benz.append(0)
                date_label_benz.append(good_days[day])
        else:
                title_label_benz.append(df_benz["headline"][good_days[day]])
                label_benz.append(0)
                date_label_benz.append(good_days[day])

df_benz_temp = pd.DataFrame()
df_benz_temp["date"] = date_label_benz
df_benz_temp["label"] = label_benz
df_benz_temp["title"] = title_label_benz
df_benz_temp.set_index("date", inplace=True)
df_benz_temp.sort_index(ascending=True, inplace=True)

# Drop the dates
df_benz = pd.DataFrame()
df_benz["Label"] = df_benz_temp["label"]
df_benz["News"] = df_benz_temp["title"]
# Reset the index
df_benz.reset_index(inplace=True, drop=True)

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  df_benz = shuffle(df_benz, random_state = RANDOM_SEED)

# Reset the index
df_benz.reset_index(inplace=True, drop=True)

train_benz = pd.concat([train, df_benz])

In [25]:
train_benz

       Label                                               News
0          1                     talk like stupid sharia law uk
1          0              afghan woman killed giving birth girl
2          1  isis suspect turkish intelligence agency mt he...
3          1  american citizen living ossetia blames u georg...
4          1  anyone using google maps smartphone working su...
...      ...                                                ...
12916      1  update johnson johnson announces definitive ag...
12917      1  mid day market update green mountain coffee sh...
12918      1                building something construction etf
12919      1  positive surprises negative guidance earnings ...
12920      0          home depot cfo says surprised contractors

[55180 rows x 2 columns]

A három egyesítése.

In [26]:
train_all = pd.concat([train, df_eco, df_benz])
train_all

       Label                                               News
0          1                     talk like stupid sharia law uk
1          0              afghan woman killed giving birth girl
2          1  isis suspect turkish intelligence agency mt he...
3          1  american citizen living ossetia blames u georg...
4          1  anyone using google maps smartphone working su...
...      ...                                                ...
12916      1  update johnson johnson announces definitive ag...
12917      1  mid day market update green mountain coffee sh...
12918      1                building something construction etf
12919      1  positive surprises negative guidance earnings ...
12920      0          home depot cfo says surprised contractors

[60237 rows x 2 columns]

Az adathalmazok megkeverése és a hírek összefűzése az eredmények összehasonlításához.

Először az ECO-val bővített esetében.

In [43]:
# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_eco = shuffle(train_eco, random_state = RANDOM_SEED)

# Reset the index
train_eco.reset_index(inplace=True, drop=True)

pos_label_news = []
neg_label_news = []

for row in range(len(train_eco)):
    if str(train_eco["Label"][row]) == "0":
        neg_label_news.append(str(train_eco["News"][row]))
    elif str(train_eco["Label"][row]) == "1":
        pos_label_news.append(str(train_eco["News"][row]))
    else:
        pass

print(len(pos_label_news))
print(len(neg_label_news))

pos_train = pd.DataFrame()
neg_train = pd.DataFrame()

pos_labels = []
for row in range(len(pos_label_news)):
    pos_labels.append("1")

pos_train["Label"] = pos_labels 
pos_train["News"] = pos_label_news 


neg_labels = []
for row in range(len(neg_label_news)):
    neg_labels.append("0")

neg_train["Label"] = neg_labels 
neg_train["News"] = neg_label_news 

# Neg merge
neg_merged_news = []
neg_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(neg_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + neg_train["News"][i* 8 + j]
    neg_merged_news.append(temp_news)
    neg_merged_labels.append(0)

neg_merged_df = pd.DataFrame()
neg_merged_df["Label"] = neg_merged_labels
neg_merged_df["News"] = neg_merged_news

# Pos merge
pos_merged_news = []
pos_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(pos_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + pos_train["News"][i* 8 + j]
    pos_merged_news.append(temp_news)
    pos_merged_labels.append(1)

pos_merged_df = pd.DataFrame()
pos_merged_df["Label"] = pos_merged_labels
pos_merged_df["News"] = pos_merged_news

# All merge
train_eco = pd.concat([pos_merged_df, neg_merged_df])

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_eco = shuffle(train_eco, random_state = RANDOM_SEED)

# Reset the index
train_eco.reset_index(inplace=True, drop=True)

# Show the data frame
train_eco

3202
2712

     Label                                               News
0        1    slaves next door domestic slavery alive well...
1        1    archaeologist says prehistoric town unearthe...
2        1    smother invention syria ceasefire start febr...
3        0    kerry war ukraine want diplomatic solution c...
4        1    enters palestinian camp damascus jordan clos...
..     ...                                                ...
734      0    end compassionate conservatism david cameron...
735      1    year old german woman celebrates birthday co...
736      0    wikileaks cable leak guardian han chinese ba...
737      1    end lies george bush tell canadian hitman ad...
738      0    uk muslim father threatens honour kill daugh...

[739 rows x 2 columns]

In [35]:
train_eco.groupby(["Label"]).describe()

       News
      count unique                                                top freq
Label
0      2712   2712   international criminal court recognises rape ...    1
1      3202   3202   billion inhabitants india find anyone hangman...    1

Benzingás.

In [44]:
# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_benz = shuffle(train_benz, random_state = RANDOM_SEED)

# Reset the index
train_benz.reset_index(inplace=True, drop=True)

pos_label_news = []
neg_label_news = []

for row in range(len(train_benz)):
    if str(train_benz["Label"][row]) == "0":
        neg_label_news.append(str(train_benz["News"][row]))
    elif str(train_benz["Label"][row]) == "1":
        pos_label_news.append(str(train_benz["News"][row]))
    else:
        pass

print(len(pos_label_news))
print(len(neg_label_news))

pos_train = pd.DataFrame()
neg_train = pd.DataFrame()

pos_labels = []
for row in range(len(pos_label_news)):
    pos_labels.append("1")

pos_train["Label"] = pos_labels 
pos_train["News"] = pos_label_news 


neg_labels = []
for row in range(len(neg_label_news)):
    neg_labels.append("0")

neg_train["Label"] = neg_labels 
neg_train["News"] = neg_label_news 

# Neg merge
neg_merged_news = []
neg_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(neg_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + neg_train["News"][i* 8 + j]
    neg_merged_news.append(temp_news)
    neg_merged_labels.append(0)

neg_merged_df = pd.DataFrame()
neg_merged_df["Label"] = neg_merged_labels
neg_merged_df["News"] = neg_merged_news

# Pos merge
pos_merged_news = []
pos_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(pos_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + pos_train["News"][i* 8 + j]
    pos_merged_news.append(temp_news)
    pos_merged_labels.append(1)

pos_merged_df = pd.DataFrame()
pos_merged_df["Label"] = pos_merged_labels
pos_merged_df["News"] = pos_merged_news

# All merge
train_benz = pd.concat([pos_merged_df, neg_merged_df])

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_benz = shuffle(train_benz, random_state = RANDOM_SEED)

# Reset the index
train_benz.reset_index(inplace=True, drop=True)

# Show the data frame
train_benz

3721
3175

     Label                                               News
0        1    chinese banks hiding mother debt bombs china...
1        1    burning fireball seen coast canadian maritim...
2        0    israeli navy attacking civilian mercy ship u...
3        1    russia bend standoff west putin says rotherh...
4        0    piper jaffray discontinues coverage isph ato...
..     ...                                                ...
856      0    british police commissioner resigns due phon...
857      1    un confirms hezbollah fighting assad syria a...
858      1    oppenheimer prospects still bright home depo...
859      1    frequent flyer taliban senior leader mansour...
860      0    benzinga market primer monday april j p morg...

[861 rows x 2 columns]

In [45]:
train_benz.groupby(["Label"]).describe()

       News
      count unique                                                top freq
Label
0       396    396    devote life spewing anti islamic hatred surp...    1
1       465    465    copenhagen climate change talks must fail sa...    1

Az összesített.

In [46]:
# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_all = shuffle(train_all, random_state = RANDOM_SEED)

# Reset the index
train_all.reset_index(inplace=True, drop=True)

pos_label_news = []
neg_label_news = []

for row in range(len(train_all)):
    if str(train_all["Label"][row]) == "0":
        neg_label_news.append(str(train_all["News"][row]))
    elif str(train_all["Label"][row]) == "1":
        pos_label_news.append(str(train_all["News"][row]))
    else:
        pass

print(len(pos_label_news))
print(len(neg_label_news))

pos_train = pd.DataFrame()
neg_train = pd.DataFrame()

pos_labels = []
for row in range(len(pos_label_news)):
    pos_labels.append("1")

pos_train["News"] = pos_label_news 
pos_train["Label"] = pos_labels 


neg_labels = []
for row in range(len(neg_label_news)):
    neg_labels.append("0")

neg_train["Label"] = neg_labels 
neg_train["News"] = neg_label_news 

# Neg merge
neg_merged_news = []
neg_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(neg_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + neg_train["News"][i* 8 + j]
    neg_merged_news.append(temp_news)
    neg_merged_labels.append(0)

neg_merged_df = pd.DataFrame()
neg_merged_df["Label"] = neg_merged_labels
neg_merged_df["News"] = neg_merged_news

# Pos merge
pos_merged_news = []
pos_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(pos_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + pos_train["News"][i* 8 + j]
    pos_merged_news.append(temp_news)
    pos_merged_labels.append(1)

pos_merged_df = pd.DataFrame()
pos_merged_df["Label"] = pos_merged_labels
pos_merged_df["News"] = pos_merged_news

# All merge
train_all = pd.concat([pos_merged_df, neg_merged_df])

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train_all = shuffle(train_all, random_state = RANDOM_SEED)

# Reset the index
train_all.reset_index(inplace=True, drop=True)

# Show the data frame
train_all

4077
3452

     Label                                               News
0        1    popping question nigeria cease exist decembe...
1        1    update drexel hamilton raises travelers pt r...
2        1    appear sam bacile man behind anti islam film...
3        1    fed keeps interest rates zero afraid unless ...
4        1    mohamed elbaradei says ready assume power eg...
..     ...                                                ...
935      1    isis militants blow ancient arch triumph pal...
936      1    update russian regulator says conducting saf...
937      0    ukraine crisis us recognise crimea referendu...
938      1    volcano erupts glacier iceland hundreds evac...
939      0    julian assange run seat australian senate pa...

[940 rows x 2 columns]

In [47]:
train_all.groupby(["Label"]).describe()

       News
      count unique                                                top freq
Label
0       431    431    europe top human rights court ruled poland v...    1
1       509    509    iran plane black boxes damaged p g vice chai...    1

Az alap halmaz összefűzése.

In [48]:
# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train = shuffle(train, random_state = RANDOM_SEED)

# Reset the index
train.reset_index(inplace=True, drop=True)

pos_label_news = []
neg_label_news = []

for row in range(len(train)):
    if str(train["Label"][row]) == "0":
        neg_label_news.append(str(train["News"][row]))
    elif str(train["Label"][row]) == "1":
        pos_label_news.append(str(train["News"][row]))
    else:
        pass

print(len(pos_label_news))
print(len(neg_label_news))

pos_train = pd.DataFrame()
neg_train = pd.DataFrame()

pos_labels = []
for row in range(len(pos_label_news)):
    pos_labels.append("1")

pos_train["Label"] = pos_labels 
pos_train["News"] = pos_label_news 


neg_labels = []
for row in range(len(neg_label_news)):
    neg_labels.append("0")

neg_train["Label"] = neg_labels 
neg_train["News"] = neg_label_news 

# Neg merge
neg_merged_news = []
neg_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(neg_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + neg_train["News"][i* 8 + j]
    neg_merged_news.append(temp_news)
    neg_merged_labels.append(0)

neg_merged_df = pd.DataFrame()
neg_merged_df["Label"] = neg_merged_labels
neg_merged_df["News"] = neg_merged_news

# Pos merge
pos_merged_news = []
pos_merged_labels = []
in_rows_counter = 0
merged_counter = 0

for i in range(int(len(pos_train) / 8)):
    temp_news = ""
    for j in range(8): #0,1...7
        temp_news = temp_news + " " + pos_train["News"][i* 8 + j]
    pos_merged_news.append(temp_news)
    pos_merged_labels.append(1)

pos_merged_df = pd.DataFrame()
pos_merged_df["Label"] = pos_merged_labels
pos_merged_df["News"] = pos_merged_news

# All merge
train = pd.concat([pos_merged_df, neg_merged_df])

# Do the shuffle
for i in range(SHUFFLE_CYCLE):
  train = shuffle(train, random_state = RANDOM_SEED)

# Reset the index
train.reset_index(inplace=True, drop=True)

# Show the data frame
train

2846
2435

     Label                                               News
0        0    petraeus suggests afghans burned children ex...
1        1    giant buddha found afghan site uk denies jul...
2        0    doctor helped track osama jailed physician h...
3        1    north korea scraps south korea military safe...
4        1    first unlooted royal tomb kind unearthed per...
..     ...                                                ...
654      0    egypt women brandish knives sex assault prot...
655      1    india joins u effort stifle iran trade south...
656      0    official banks europe may seize deposits cov...
657      0    french authorities investigate alleged posio...
658      1    anonymous declares war isis sodano explained...

[659 rows x 2 columns]

In [49]:
train.groupby(["Label"]).describe()

       News
      count unique                                                top freq
Label
0       304    304    iran says longer afford ahmadinejad cash han...    1
1       355    355    u accuses soccer officials decades rampant s...    1

##**A modellek futtatása**

In [102]:
datasets = [train, train_eco, train_benz, train_all]
index = ["basic", "w Eco", "w Benz", "w All"]
result_accuraccy = []
result_coeff = []

for dataset_index in range(len(index)):
    MODEL_TYPE = str("5,5")
    print(str(index[dataset_index]) + "\t" + str(MODEL_TYPE) +  " n-gram logreg model\n")

    train_headlines = []
    test_headlines = []

    for row in range(0, len(datasets[dataset_index].index)):
        train_headlines.append(datasets[dataset_index].iloc[row, 1])

    for row in range(0,len(test.index)):
        test_headlines.append(test.iloc[row, 1])

    # show the first
    print(train_headlines[0] + "\n")

    _gram_vectorizer_ = CountVectorizer(ngram_range=(int(MODEL_TYPE[0]),int(MODEL_TYPE[2])))
    _train_vectorizer_ = _gram_vectorizer_.fit_transform(train_headlines)

    print("The shape is: " + str(_train_vectorizer_.shape) + "\n")

    _gram_model_ = LogisticRegression(random_state=RANDOM_SEED, max_iter=MAX_ITER)
    _gram_model_ = _gram_model_.fit(_train_vectorizer_, datasets[dataset_index]["Label"])

    _gram_test_ = _gram_vectorizer_.transform(test_headlines)
    _gram_predictions_ = _gram_model_.predict(_gram_test_)

    result_accuraccy.append(accuracy_score(test["Label"], _gram_predictions_))

    _gram_words_best_ = _gram_vectorizer_.get_feature_names()
    _gram_coeffs_best_ = _gram_model_.coef_.tolist()[0]

    coeffdf = pd.DataFrame({'Word' : _gram_words_best_, 
                            'Coefficient' : _gram_coeffs_best_})

    coeffdf = coeffdf.sort_values(['Coefficient', 'Word'], ascending=[0, 1])

    result_coeff.append(coeffdf)

basic	5,5 n-gram logreg model

  petraeus suggests afghans burned children exaggerate civilian casualty claims nasa building largest rocket time launch turkish police started arresting people tweeting facebooking protests local news cnn turk needs translation indigenous groups keystone xl pipeline cross lands native american communities promising fierce resistance stop transcanada building amp president barack obama permitting northern leg keystone japan nuclear body says radioactive water fukushima emergency food riots break algeria china trying failing censor citizens want answers tianjin explosion china three gorges dam close maximum capacity heavy rains persist chinese officials years boasted dam could withstand floods severe come every years  india gets new view us collection agents call centers hear tales woe land whose lifestyles idealized afghan police marksmanship ak always poor u contractors failed train adjust sights missile parts mh crash site gazans still without tap water vladimir putin mounting slow motion invasion ukraine stephen harper tells nato charity givedirectly announced begin testing universal basic income spending estimated million providing kenyans egypt bans muslim brotherhood group thousands demand pm resignation front iceland parliament tomorrow session cancelled panama papers revelations  brazil acknowledges spying diplomats u greece targets police departments crackdown fascist golden dawn party isis kidnaps civilians burn islamic state flag uk highest court criticised islamic law discriminating women following case mother forced flee uk middle east bbc nuclear power gets little public support worldwide icelandic bank former ceo arrested beginning video russian paratroopers violently attack lone gay rights activist st petersburg council europe condemns ukraine maidan violence investigations fail european human rights standards genuine attempt pursue investigations  hundreds passengers traveling india britain stranded thursday amritsar india charter airline comtel asking kick money cover cost fuel fees passengers allowed leave unless paid rupees methane escaping arctic sea bed germany saw dramatic increase anti semitic anti israel crimes syria abbott wants christians muslim refugees country responsible percent world climate changing emissions might think worth making plan curb pollution especially still need get electricity much population gambian government thinks otherwise face recognition app taking russia storm may bring end public anonymity roman catholic nova scotia bishop busted r ncanadian airport laptop full child porn r nthe real kicker one previously r nhelped broker million settlement people r nsexually abused priests diocese toxic fallout us war produces record child birth defect rates iraq  arrested unprecedented swoop europol bbc news india supreme court says truth drug test illegal winner bayer th international childrens painting competition guessed scottish national party snp set win scots seats general election russia opened laboratory siberia devoted study extinct animal dna hope creating clones reported chinese government closed tibet outside observers poured security forces region vowed crush supporters dalai lama house lords says make maths compulsory level students young woman died monday first fatality among nearly casualties weekend blaze taiwan water park officials said investigators focused coloured powder rained fire sprayed revellers stage  strike shuts greece violence feared two redditors climbing mt kilimanjaro charity bidding peak squander opportunity let upvotes something awesome yes campaign scottish independence officially launched today famous scots supporting yes campaign include sean connery brian cox greek row germany debt turns nasty mayor athens demands billion world war ii reparations isis defectors asking western governments help returning home foreign students stage walkout hershey chocolates protesting unpaid labor cultural exchange program officials egyptian warplanes bombing positions held islamist militias eastern libyan city benghazi mess farmer daughter holy crap  chinese firm purchased rights tiananmen square tank man photo bill gates somalia frees hijacked cargo ship year old woman hanged telling family tired waiting die snowden vindicated judge rules indiscriminate nsa spying snowden today secret program authorized secret court exposed light day found violate americans rights australian prime minister tony abbott adviser believes australian meteorology scientists involved temperature manipulation calls government funded inquiry climate change annual gay pride parade istanbul threat ultra nationalist conservative groups pledged necessary stop event girls pyongyang unknowns case lee amp ling italy unmoved berlusconi bribe case  strong magnitude earthquake shakes central peru uk home secretary warns opposing plans let police monitor internet use putting politics people lives bumblebees exposed controversial pesticides collect half pollen would otherwise harvest according new research depriving growing young source protein x post r environment israeli maxim occupy country make people pay price get part back object accuse refusing take advantage opportunities peace mexican judges strike law protecting army civilian courts canadian man fights dubai swearing law arguing fuck insult canada canadians would call ottawa shooting terrorist attack blame mental illness survey finds pope benedict xvi course correction benedict trying restore catholic traditions believes lost years ago modernizing reforms second vatican council presses conservative catholicism pope vigilant ensuring

The shape is: (659, 488587)

w Eco	5,5 n-gram logreg model

  slaves next door domestic slavery alive well world neonicotinoid insecticides banned europe rypple effect iraqi secret prison revealed torture holding cell minority sunni leadership making ruthless liar eu president crazy plan backing blair european union parliament made statement opposing sopa particularly reference ability us seize domain names bankers struggle live million year shopped around  indian supreme court agreed monday hear muslim woman petition seeking declare triple talaq polygamy islam unconstitutional despite strong opposition influential islamic bodies judicial scrutiny muslim personal law practices cypriots angry suggestion russian mobsters foreign investors lose money pensioners businesses regular cypriots large bank balances could lose per cent money one time tax meant bail broke banks canadians rush save trapped killer whales cnn com china arrests weibo users inciting public dissatisfaction government un launching inquiry impact civilians drone strikes targeted killings twenty five attacks examined pakistan afghanistan yemen palestinian territories somalia year old fahma mohamed calls michael gove help end female genital mutilation uk wants education secretary write headteachers ask train inform teachers parents practice affected estimated women girls uk siberian fisherman accidentally nets year old pagan god obama delay withdrawal us troops afghanistan officials say obama outline plans keep troops afghanistan previously promised end war watch  julian assange speaks un via satellite london calls end persecution time united states cease persecution wikileaks cease persecution people cease persecution alleged sources united states today hit iran raft economic restrictions reported associated press move comes within weeks july european union oil embargo islamic republic spain claims top spot worlds oldest cave art archaeologists say red disk years old could painted neanderthals escapee tells horrors north korean prison camp two bomb disposal experts received george cross sgt schmid posthumously sgt hughes disarming three ied hand without protective clothing enemy fire vladimir putin pilot hand glider head endangered crane migration disguised bird russian tsar wwi era shark submarine discovered beneath baltic sea vatican shoots messenger lashes new york times sex abuse coverage  e cigarettes help smokers quit study says number cockroach farms china growing julian assange leave ecuadorian embassy could surrender police grounded loss egyptian natural gas supplies costs israel million per day imf eyes tax potential world super rich copenhagen fails binding agreement emission reduction targets sigh china blames us tainted dairy products children sick  yuan thing another jordan set becoming middle east newest nuclear power jordanian king abdullah told wall street journal interview weekend one listens jürgen grossmann las vegas midwest sarrazin truths political correctness silencing important debate clear intimidation politically correct thought police media longer work gadhafi regime missiles missing report cheaper purer illegal substances suggest global war drugs failing kiribati president calls moratorium coal mines plausible scenario world tackling climate change world needs coal mines said oquist  impenetrable global drug charade flying face evidence un recommit tried failed approach hamas shoots phosphorus shells israeli civilians manned russian jets stalking us predator drones syria north south korea agree first dialogue years israel labor party may quit governing coalition settlement decision case hurd labour iran accused torturing blogger death sattar beheshti family told death prison week arrested criticising iran facebook  eritrea like giant prison claims human rights group uruguay become third american country legalize gay marriage canada argentina drone victims pakistan identified militants report queensland wants federal laws help find trolls flagged major shake media amp privacy laws call tougher federal laws help identify social media trolls making oldest known leather shoe enough prehistoric people armenia also built world oldest known winery new study says killed injured suicide attacks yemen mosques hold protest president georgia country putin writes percent cuba debts ussr percent debt republic cuba soviet union written  guinea protests turn deady least dead police officers resign northern mexico town successful icelandic pirate mp resigns parliament goes back mixing asphalt wikileaks releases cables egypt vp omar suleiman connections israel unsavoury spread electronic ties bind tsunami crashed asylum chile two unlikely heroines one schizophrenic mentally disabled formed team save friends lives water necks dragged patients safety video world largest nuclear fusion reactor switch

The shape is: (739, 500878)

w Benz	5,5 n-gram logreg model

  chinese banks hiding mother debt bombs china massive bank financed stimulus intended keep economy moving may instead lead economic disaster tpp almost ready stalled hawaii leaks tell us companies warren buffett ko wfc axp krugman china currency appeasers respectful thing would assume everything china leaders say public issue lie head india poorest state shoe statue lady opens million theme park bill gates told bbc united states set better example taking refugees speaking bbc world economic forum davos mr gates said home country capacity follow examples germany sweden congratulated royal marine found guilty executing afghan insurgent wikileaks documents reveal suspects  warren buffett reveals quarterly portfolio changes berkshire hathaway shares hit k libyan army possession one lethal anti aircraft weapons available come cowen met mcdonald management happened daily forex commentary march year old skeleton camel used ottomans invade vienna identified austrian researchers discovery refuse pit rescued abandoned pit tulln lower austrian town banks danube prior construction shopping centre bishop catholic church admits church archive abusive priests says considering sharing police reminds us church law reason coming forward sooner said confession pacific nation palau ranks first cannabis consumption nearly percent citizens smoked past year uk lost world climate leadership role axing domestic green policies leading scientists former ministers say country undermined record world leader climate change moving backwards  bmo capital upgrades coca cola outperform raises pt benzinga weekly preview pmi data focus turkish prime minister issues final warning protesters leave gezi park istanbul mud volcano man made new evidence confirms manga fukushima cleanup operation becomes hit japan kazuto tatsuta worked cleanup nuclear plant hopes work tells people things media never see benjamin netanyahu territory concession palestinians israel choice raid except choices japanese man vacations syrian front lines im target snipers im tourist like journalists besides im afraid shoot might kill im combination samurai kamikaze  syria welcomes russian chemical arms arsenal proposal russia military following us unmanned aircraft vehicles bodies found inside abandoned car mexico check travellers ids fined sweden warns infrastructure minister anna johansson warned public transport companies failing check traveller identities enter sweden could result fines kronor japan pm step failing move us base okinawa supreme court stick big pharma groupon andrew mason never confident excited future business canadian government spying behalf energy industry  powerful earthquake hits new zealand april scientists already stunned greenlands melting danish meteorological institute reported although april nearly percent ice sheets surface covered layer meltwater depth least millimeter low volume high returns etfs bib fhc drw blackwater crusaders undertook ritual genocide iraq afghanistan name xe crusaders powerful pakistani religious body advises government compatibility laws islam thursday declared new law criminalizes violence women un islamic rising number people turkey believe free speech human rights declining country according new survey danish government implodes opposition deal goldman sachs sell stocks veto rights energy infrastructure conservatives withhold timeline revealing full text tpp deal  today denmark got first female prime minister helle thorning shmidt article quite updated uk opposes international ban developing killer robots volcano ethiopia spewing blue lava merck collaborates glaxosmithkline mk la violencia mexico drug wars time book extract always enthralling sons become part among people would laugh cutting someones fingers nine men accused gang raping six girls aged judge orders twitter give data wikileaks monkey arrested pakistan crossing india border faking news  energy brazil sugar industry produces food fuel environmental benefits fast grows may depend argument regulated dramatic departure longstanding policy united states intends support united nations security council resolutions censuring israel building settlements palestinian territory migrants tried enter channel tunnel terminal calais monday night attempt reach uk operator eurotunnel said china accuses us financial weapon mass destruction caterpillar reports q eps vs est revenues b vs b est proposal us ban cross border trade polar bears parts defeated thursday international meeting kevin rudd trumps julia gillard bid australian labor party ballot blood flesh gore site suspected massacre syria  nigeria rescue bid kidnapped briton amp italian killed briton amp italian abducted gunmen nigeria last year died failed rescue attempt david cameron announces north magnetic pole racing toward siberia australian lawmaker introduces legislation would legalize sex marriage bug found ecuador embassy london wikileaks versus wired war words continues afghan parliament attack bbc news white house friday overturn apple itc ruling aapl bbc news iran woman escapes stoning death adultery

The shape is: (861, 582457)

w All	5,5 n-gram logreg model


Az eredmények kiértékelése.

In [103]:
for dataset_index in range(len(index)):
    print(str(index[dataset_index]) + ":\t\t\t" + str(result_accuraccy[dataset_index]) + "\n")

basic:			0.5386162510056315

w Eco:			0.5386162510056315

w Benz:			0.5386162510056315

w All:			0.5386162510056315

In [65]:
for dataset_index in range(len(index)):
    print(str(index[dataset_index]) + ":\n" + 
          str(result_coeff[dataset_index].head(10)) + "\n" + 
          str(result_coeff[dataset_index].tail(10))+ "\n\n")

basic:
             Word  Coefficient
8525        egypt     0.314796
639           air     0.311879
22304      rebels     0.251282
14329        jews     0.248128
20890  population     0.247687
18869      number     0.243741
17711     mubarak     0.239704
25141       since     0.229664
16867         men     0.228331
28611          uk     0.227752
            Word  Coefficient
15988        low    -0.219907
1866   authority    -0.221489
30340    without    -0.224357
12775      hours    -0.232240
23910  sanctions    -0.237713
13092    illegal    -0.238293
2531     beijing    -0.249492
14127    israeli    -0.253480
23685        run    -0.268893
11812    hacking    -0.283535


w Eco:
             Word  Coefficient
19402         non     0.318194
18469     mubarak     0.291355
8906        egypt     0.281462
16935        make     0.279366
26212       since     0.267088
30224  university     0.263639
562      agencies     0.257238
1536     arrested     0.241431
31255  washington     0.237456
1666      assange     0.234737
            Word  Coefficient
28287     system    -0.251630
12334    hacking    -0.255803
19923        oil    -0.263131
25088        say    -0.264758
16667        low    -0.265904
24935  sanctions    -0.271968
25048      saudi    -0.279620
14610       iran    -0.282775
31338    weapons    -0.290846
24699        run    -0.336771


w Benz:
          Word  Coefficient
1565     april     0.350612
27582     self     0.306291
744        air     0.305229
21039      non     0.292463
20027  mubarak     0.285253
9628     egypt     0.282795
33670    wants     0.279372
1337   another     0.271000
28332    since     0.269813
8927   doctors     0.241927
           Word  Coefficient
31148     think    -0.254681
31555     total    -0.258204
8100      depot    -0.265693
29878  students    -0.266976
34203   without    -0.282574
15940   israeli    -0.294272
30536    system    -0.312171
26740       run    -0.348809
13337   hacking    -0.354714
33200   verizon    -0.384642


w All:
           Word  Coefficient
1599      april     0.457538
1920    assange     0.380247
21736       non     0.347800
757         air     0.297065
20695   mubarak     0.279369
29276     since     0.279291
14494      high     0.272322
4503        buy     0.265403
4701   canadian     0.263277
34078     using     0.262423
          Word  Coefficient
30099   speech    -0.283801
35004  weapons    -0.288495
6596     congo    -0.288757
32649    total    -0.307358
18657    lower    -0.309976
31588   system    -0.326025
16341  iranian    -0.326333
34359  verizon    -0.330131
18654      low    -0.332704
13789  hacking    -0.339217