# **Financial Times hírgyűjtés (us)**

A drive csatlakoztatása mentéshez

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

A szükséges csomagok import-álása

In [2]:
from bs4 import BeautifulSoup as bs
import requests
import pandas as pd
import time

URL generálásra használt függvény definiálása

In [3]:
def create_archive_url(page_number):
  return 'https://www.ft.com/world/us?page=' + str(page_number)

A Financial Times oldalán 200 oldalt lehet gyűjteni a US témában, ezért a for ciklus 0-tól 200-ig megy. Csak a hírek címének és a dátumát mentem el. A try-catch arra szolgál, hogyha valamiért az oldal nem töltődne be, és hibát dobna, akkor ezt jelzem és utána azt külön letöltöm majd.
Itt ellenőríztem a lementett adatok méretét is.

In [4]:
title, date, error = [], [], []
df = pd.DataFrame()

for page_number in range(201):
    try:
        url = create_archive_url(page_number)

        html = requests.get(url).text
        page = bs(html, "html.parser")

        for i in page.find('ul', class_='o-teaser-collection__list js-stream-list').find_all('a', class_='js-teaser-heading-link'):
            title.append(i.text)

        for i in page.find('ul', class_='o-teaser-collection__list js-stream-list').find_all('time', class_='o-date o-teaser__timestamp'):
            date.append(i['datetime'][:10])

        time.sleep(3)

        print(page_number)

    except:
        error.append(page_number)

        print(str(page_number) + str(" error"))



#print(title)
print(len(title))
#print(date)
print(len(date))

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
5025
5025

Az elsőre nem sikerült hírek lekérése

In [5]:
print(len(error))

0

Az összegyűjtött adatok eltárolása DataFrame-ben.

In [6]:
df['title'] = title
df['date'] = date

df

                                                  title        date
0     Cruise operators see brighter horizon as vacci...  2021-02-26
1                     The return of the bond vigilantes  2021-02-26
2     ‘Humbling’ week in bond markets leads to fears...  2021-02-26
3     Healthcare inequality exposed in Why is Covid ...  2021-02-26
4        Markets set for a bumpy ride back to inflation  2021-02-26
...                                                 ...         ...
5020  US economy is dangerously dependent on Wall St...  2020-03-08
5021                    5 of the best pasta restaurants  2020-03-08
5022      Oil price war spells danger for US junk bonds  2020-03-08
5023  Coronavirus detected at conference attended by...  2020-03-08
5024  Grindr sold by Chinese owner after US national...  2020-03-07

[5025 rows x 2 columns]

A DataFrame elmentése csv fájlban.

In [7]:
df.to_csv(r'drive/MyDrive/financial_us_export_dataframe.csv', index = False, header=True)